

# WalletConnect Cloud project id
NEXT_PUBLIC_WC_PROJECT_ID=

# Sepolia RPC endpoint
NEXT_PUBLIC_SEPOLIA_RPC_URL=

# deployed addresses 
NEXT_PUBLIC_HOOK_ADDRESS=0x842dcbBB7A5304f28EF5D6333C15F3F70f7285C4
NEXT_PUBLIC_USDC_ADDRESS=0xA505693C63e139EDc5DC1eD267d3514A61B5F23d
NEXT_PUBLIC_WETH_ADDRESS=0x836a98d2128c0DaE5c923f35b3f59e8FbEa23dd9
NEXT_PUBLIC_USDC_VAULT_ADDRESS=0x73aa2eb7Cd64Af9655F6b7cb61d9Ad6EbE2C45A5
NEXT_PUBLIC_WETH_VAULT_ADDRESS=0x1629F3bb4ee9eBD3e4359aD2c506E9a02e99fBd5
